swagger: '2.0'
info:
  version: ''
  title: ObservePoint v2
  description: ''
host: app.observepoint.com
basePath: /api/v2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /account:
    get:
      operationId: GET_account
      tags:
        - Account
      parameters:
        - name: Total-Route-Time
          in: header
          required: false
          type: integer
        - name: Connect-Time
          in: header
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  simulationsUsed:
                    type: integer
                  name:
                    type: string
                  appsUsed:
                    type: integer
                  maxSimulations:
                    type: integer
                  maxUsers:
                    type: integer
                  strongPasswordPolicy:
                    type: boolean
                  urlsUsed:
                    type: integer
                  id:
                    type: integer
                  usersUsed:
                    type: integer
                  accountType:
                    type: integer
                  auditsUsed:
                    type: integer
                  maxAudits:
                    type: integer
                  maxApps:
                    type: integer
                  appTestsUsed:
                    type: integer
          examples:
            application/json: true
  /account/locations:
    get:
      operationId: GET_locations
      tags:
        - Account
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    label:
                      type: string
          examples:
            application/json: true
  /account/frequencies/audits:
    get:
      operationId: GET_frequencies-audits
      tags:
        - Account
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: string
          examples:
            application/json: true
  /account/user-agents:
    get:
      operationId: GET_account-user-agents
      tags:
        - Account
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                label:
                  type: string
  /users:
    get:
      operationId: GET_users
      tags:
        - Users
      parameters:
        - name: Connect-Time
          in: header
          required: false
          type: integer
        - name: Total-Route-Time
          in: header
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    lastLogin:
                      type: string
                    email:
                      type: string
                    username:
                      type: string
                    timezone:
                      type: string
                    permissions:
                      type: string
                    accountId:
                      type: integer
                    lastName:
                      type: string
                    firstName:
                      type: string
                    id:
                      type: integer
                    updated:
                      type: string
                    created:
                      type: string
          examples:
            application/json: true
    post:
      operationId: POST_users
      tags:
        - Users
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              timezone:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              username:
                type: string
              email:
                type: string
              permissions:
                type: string
            example:
              timezone: America/Denver
              firstName: user
              lastName: '1'
              username: user1
              email: mike.cataldo@observepoint.com
              permissions: user
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  lastLogin:
                    $ref: '#/definitions/null'
                  email:
                    type: string
                  username:
                    type: string
                  timezone:
                    type: string
                  permissions:
                    type: string
                  accountId:
                    type: integer
                  lastName:
                    type: string
                  firstName:
                    type: string
                  id:
                    type: integer
                  updated:
                    type: string
                  created:
                    type: string
          examples:
            application/json: true
  '/users/{param1}':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_users-param1
      tags:
        - Users
      parameters:
        - name: Total-Route-Time
          in: header
          required: false
          type: integer
        - name: Connect-Time
          in: header
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  lastLogin:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  timezone:
                    type: string
                  permissions:
                    type: string
                  accountId:
                    type: integer
                  lastName:
                    type: string
                  firstName:
                    type: string
                  id:
                    type: integer
                  updated:
                    type: string
                  created:
                    type: string
          examples:
            application/json: true
    put:
      operationId: PUT_users-param1
      tags:
        - Users
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              lastLogin:
                type: string
              email:
                type: string
              username:
                type: string
              timezone:
                type: string
              permissions:
                type: string
              accountId:
                type: integer
              lastName:
                type: string
              firstName:
                type: string
              id:
                type: integer
              updated:
                type: string
              created:
                type: string
            example:
              lastLogin: '2016-11-17T16:34:55.000-07:00'
              email: MIKE.CATALDO@OBSERVEPOINT.COM
              username: starwoodadmin
              timezone: America/Denver
              permissions: admin
              accountId: 19
              lastName: cataldo
              firstName: mike
              id: 26
              updated: '2016-11-01T12:50:52.000-06:00'
              created: '2016-11-01T12:50:52.000-06:00'
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  lastLogin:
                    type: string
                  email:
                    type: string
                  username:
                    type: string
                  timezone:
                    type: string
                  permissions:
                    type: string
                  accountId:
                    type: integer
                  lastName:
                    type: string
                  firstName:
                    type: string
                  id:
                    type: integer
                  updated:
                    type: string
                  created:
                    type: string
          examples:
            application/json: true
    delete:
      operationId: DELETE_users-param1
      tags:
        - Users
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
  '/users/{param1}/folders':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_users-param1-folders
      tags:
        - Users
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    accountId:
                      type: integer
          examples:
            application/json: true
    post:
      operationId: POST_users-param1-folders
      tags:
        - Users
      parameters:
        - name: body
          in: body
          schema:
            type: array
            items:
              type: integer
            example:
              - 83
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    accountId:
                      type: integer
          examples:
            application/json: true
  '/apps/{param1}/appetize-key':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_apps-param1-appetize-key
      tags:
        - Apps
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  key:
                    type: string
          examples:
            application/json: true
  /apps/count:
    get:
      operationId: GET_apps-count
      tags:
        - Apps
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  count:
                    type: integer
          examples:
            application/json: true
  '/apps/{param1}':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    delete:
      operationId: DELETE_apps-param1
      tags:
        - Apps
      responses:
        '204':
          description: ''
          schema:
            type: object
    put:
      operationId: PUT_apps-param1
      tags:
        - Apps
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              folderId:
                type: integer
              platform:
                type: integer
              file:
                type: string
              recipients:
                type: array
                items:
                  type: string
            example:
              id: 178
              name: testing stoplight1
              folderId: 531
              platform: 1
              file: SPGAndroid-develop-1716 (1).apk
              recipients:
                - mike.cataldo@observepoint.com
                - mike.cataldo@blaskjgjrigndnfkvgijrvf.com
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  uploadId:
                    type: string
          examples:
            application/json: true
  /apps:
    get:
      operationId: GET_apps
      tags:
        - Apps
      parameters:
        - name: folderId
          in: query
          required: false
          type: integer
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
    post:
      operationId: POST_apps
      tags:
        - Apps
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
              file:
                type: string
              platform:
                type: integer
              folderId:
                type: integer
              recipients:
                type: array
                items:
                  type: string
            example:
              name: testing stoplight
              file: SPGAndroid-develop-1716 (1).apk
              platform: 1
              folderId: 531
              recipients:
                - mike.cataldo@observepoint.com
                - mike.cataldo@blaskjgjrigndnfkvgijrvf.com
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  uploadId:
                    type: string
          examples:
            application/json: true
  '/apps/{param1}/suites':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_apps-param1-suites
      tags:
        - Apps
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
  /web-audits:
    get:
      operationId: GET_audits
      tags:
        - Audits
      parameters:
        - name: Total-Route-Time
          in: header
          required: false
          type: integer
        - name: Connect-Time
          in: header
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
    post:
      operationId: POST_audits
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              domainId:
                type: integer
              name:
                type: string
              limit:
                type: integer
              startingUrls:
                type: array
                items:
                  type: string
              frequency:
                type: string
              recipients:
                type: array
                items:
                  type: string
              nextRun:
                type: string
              filters:
                type: object
                properties:
                  include:
                    type: array
                    items:
                      type: string
                  exclude:
                    type: array
                    items:
                      type: string
              options:
                type: object
                properties:
                  location:
                    type: string
                  userAgent:
                    type: string
                  requestRate:
                    type: integer
                  fireTags:
                    type: boolean
                  clearCookies:
                    type: boolean
                  stripQueryString:
                    type: boolean
                  loadFlash:
                    type: boolean
                  browserWidth:
                    type: integer
            example:
              domainId: 280
              name: testing stoplight
              limit: 100
              startingUrls:
                - 'http://stoplight.io'
                - 'http://stoplight.io/cart'
              frequency: weekly
              recipients:
                - MIKE.CATALDO@OBSERVEPOINT.COM
                - mightymouse@sdlkjdfrtdfesdf.com
              nextRun: '2016-11-18T06:46:23.126Z'
              filters:
                include:
                  - '^https?://([^/:\?]*\.)?stoplight.io'
                exclude:
                  - '^https?://([^/:\?]*\.)?stoplightt.io'
              options:
                location: mountain
                userAgent: Firefox(45.0.1) - Linux
                requestRate: 10
                fireTags: false
                clearCookies: false
                stripQueryString: false
                loadFlash: true
                browserWidth: 1366
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  name:
                    type: string
                  startingUrls:
                    type: array
                    items:
                      type: string
                  lastUpdated:
                    type: string
                  nextRun:
                    type: string
                  recipients:
                    type: array
                    items:
                      type: string
                  lastRun:
                    $ref: '#/definitions/null'
                  folderId:
                    type: integer
                  ruleSets:
                    $ref: '#/definitions/null'
                  options:
                    type: object
                    properties:
                      location:
                        type: string
                      stripQueryString:
                        type: boolean
                      browserWidth:
                        type: integer
                      userAgent:
                        type: string
                      fireTags:
                        type: boolean
                      loadFlash:
                        type: boolean
                      requestRate:
                        type: integer
                      clearCookies:
                        type: boolean
                  id:
                    type: integer
                  filters:
                    type: object
                    properties:
                      include:
                        type: array
                        items:
                          type: string
                      exclude:
                        type: array
                        items:
                          type: string
                  screenshot:
                    $ref: '#/definitions/null'
                  ownerId:
                    type: integer
                  domainId:
                    type: integer
                  frequency:
                    type: string
                  auditRunning:
                    $ref: '#/definitions/null'
                  limit:
                    type: integer
                  created:
                    type: string
          examples:
            application/json: true
  '/web-audits/{param1}':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_audits-param1
      tags:
        - Audits
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  name:
                    type: string
                  startingUrls:
                    type: array
                    items:
                      type: string
                  lastUpdated:
                    type: string
                  nextRun:
                    type: string
                  recipients:
                    type: array
                    items:
                      type: string
                  lastRun:
                    $ref: '#/definitions/null'
                  folderId:
                    type: integer
                  ruleSets:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        updatedAt:
                          type: string
                        recipients:
                          type: array
                          items:
                            type: object
                            properties: {}
                        accountId:
                          type: integer
                        id:
                          type: integer
                        createdAt:
                          type: string
                        rules:
                          $ref: '#/definitions/null'
                  options:
                    type: object
                    properties:
                      location:
                        type: string
                      stripQueryString:
                        type: boolean
                      browserWidth:
                        type: integer
                      userAgent:
                        type: string
                      fireTags:
                        type: boolean
                      loadFlash:
                        type: boolean
                      requestRate:
                        type: integer
                      clearCookies:
                        type: boolean
                  id:
                    type: integer
                  filters:
                    type: object
                    properties:
                      include:
                        type: array
                        items:
                          type: string
                      exclude:
                        type: array
                        items:
                          type: string
                  screenshot:
                    $ref: '#/definitions/null'
                  ownerId:
                    type: integer
                  domainId:
                    type: integer
                  frequency:
                    type: string
                  auditRunning:
                    $ref: '#/definitions/null'
                  limit:
                    type: integer
                  created:
                    type: string
          examples:
            application/json: true
    put:
      operationId: PUT_audits-param1
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
              startingUrls:
                type: array
                items:
                  type: string
              lastUpdated:
                type: string
              nextRun:
                type: string
              recipients:
                type: array
                items:
                  type: string
              lastRun:
                $ref: '#/definitions/null'
              folderId:
                type: integer
              ruleSets:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    updatedAt:
                      type: string
                    recipients:
                      type: array
                      items:
                        type: object
                        properties: {}
                    accountId:
                      type: integer
                    id:
                      type: integer
                    createdAt:
                      type: string
                    rules:
                      $ref: '#/definitions/null'
              options:
                type: object
                properties:
                  location:
                    type: string
                  stripQueryString:
                    type: boolean
                  browserWidth:
                    type: integer
                  userAgent:
                    type: string
                  fireTags:
                    type: boolean
                  loadFlash:
                    type: boolean
                  requestRate:
                    type: integer
                  clearCookies:
                    type: boolean
              id:
                type: integer
              filters:
                type: object
                properties:
                  include:
                    type: array
                    items:
                      type: string
                  exclude:
                    type: array
                    items:
                      type: string
              screenshot:
                $ref: '#/definitions/null'
              ownerId:
                type: integer
              domainId:
                type: integer
              frequency:
                type: string
              auditRunning:
                $ref: '#/definitions/null'
              limit:
                type: integer
              created:
                type: string
              actions:
                type: array
                items:
                  type: object
                  properties: {}
            example:
              name: 'testing stoplight copied 17 November 2016, 11:46:34pm'
              startingUrls:
                - 'http://stoplight.io'
                - 'http://stoplight.io/cart'
              lastUpdated: '2016-11-18T06:46:13.000Z'
              nextRun: '2016-11-18T06:46:37.522Z'
              recipients:
                - MIKE.CATALDO@OBSERVEPOINT.COM
                - mightymouse@sdlkjdfrtdfesdf.com
              lastRun: null
              folderId: 531
              ruleSets:
                - name: Bing (with Tag Matching)
                  updatedAt: '2016-11-02T19:41:34.000Z'
                  recipients: []
                  accountId: 19
                  id: 13
                  createdAt: '2016-11-02T19:41:34.000Z'
                  rules: null
              options:
                location: mountain
                stripQueryString: false
                browserWidth: 1366
                userAgent: Firefox(45.0.1) - Linux
                fireTags: true
                loadFlash: true
                requestRate: 10
                clearCookies: false
              id: 120
              filters:
                include:
                  - '^https?://([^/:\?]*\.)?stoplight.io'
                exclude:
                  - '^https?://([^/:\?]*\.)?stoplightt.io'
              screenshot: null
              ownerId: 26
              domainId: 280
              frequency: weekly
              auditRunning: null
              limit: 100
              created: '2016-11-18T06:46:13.000Z'
              actions: []
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  name:
                    type: string
                  startingUrls:
                    type: array
                    items:
                      type: string
                  lastUpdated:
                    type: string
                  nextRun:
                    type: string
                  recipients:
                    type: array
                    items:
                      type: string
                  lastRun:
                    $ref: '#/definitions/null'
                  folderId:
                    type: integer
                  ruleSets:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        updatedAt:
                          type: string
                        recipients:
                          type: array
                          items:
                            type: object
                            properties: {}
                        accountId:
                          type: integer
                        id:
                          type: integer
                        createdAt:
                          type: string
                        rules:
                          $ref: '#/definitions/null'
                  options:
                    type: object
                    properties:
                      location:
                        type: string
                      stripQueryString:
                        type: boolean
                      browserWidth:
                        type: integer
                      userAgent:
                        type: string
                      fireTags:
                        type: boolean
                      loadFlash:
                        type: boolean
                      requestRate:
                        type: integer
                      clearCookies:
                        type: boolean
                  id:
                    type: integer
                  filters:
                    type: object
                    properties:
                      include:
                        type: array
                        items:
                          type: string
                      exclude:
                        type: array
                        items:
                          type: string
                  screenshot:
                    $ref: '#/definitions/null'
                  ownerId:
                    type: integer
                  domainId:
                    type: integer
                  frequency:
                    type: string
                  auditRunning:
                    $ref: '#/definitions/null'
                  limit:
                    type: integer
                  created:
                    type: string
          examples:
            application/json: true
  /audits/NaN/runs:
    get:
      operationId: GET_audits-NaN-runs
      tags:
        - Audits
      responses:
        '404':
          description: ''
          schema:
            type: object
  '/web-audits/{param1}/runs':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_audits-param1-runs
      tags:
        - Audits
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    auditId:
                      type: integer
                    score:
                      type: integer
                    totalUrl:
                      type: integer
                    silentMode:
                      type: boolean
                    id:
                      type: integer
                    completed:
                      $ref: '#/definitions/null'
                    taggedUrl:
                      type: integer
                    userId:
                      type: integer
                    started:
                      type: string
                    limit:
                      type: integer
          examples:
            application/json: true
  '/web-audits/{param1}/login-actions':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_audits-param1-login-actions
      tags:
        - Audits
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '204':
          description: ''
          schema:
            type: object
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  '/web-audits/{param1}/filters':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    put:
      operationId: PUT_audits-param1-filters
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              include:
                type: array
                items:
                  type: string
              exclude:
                type: array
                items:
                  type: string
            example:
              include:
                - '^https?://([^/:\?]*\.)?stoplight.io'
              exclude:
                - '^https?://([^/:\?]*\.)?stoplightt.io'
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  include:
                    type: array
                    items:
                      type: string
                  exclude:
                    type: array
                    items:
                      type: string
          examples:
            application/json: true
  '/audits/{param1}/login-actions':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    put:
      operationId: PUT_audits-param1-login-actions
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              url:
                type: string
              actions:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    preventNavigation:
                      type: boolean
                    sequence:
                      type: integer
                    identifier:
                      type: string
                    action:
                      type: string
                    rules:
                      type: array
                      items:
                        type: object
                        properties: {}
                    seconds:
                      type: integer
            example:
              url: 'http://stoplight.io'
              actions:
                - type: click
                  preventNavigation: true
                  sequence: 0
                  identifier: id
                  action: click
                  rules: []
                - type: input
                  preventNavigation: true
                  sequence: 1
                  value: dsf
                  identifier: dsf
                  action: input
                  rules: []
                - type: maskedInput
                  preventNavigation: false
                  sequence: 2
                  maskedValue: '34'
                  maskedInputType: text
                  viewedValue: '34'
                  isChangedValue: true
                  identifier: dsf
                  action: maskedInput
                  rules: []
                - type: select
                  preventNavigation: false
                  sequence: 3
                  value: sdfg
                  identifier: adf
                  action: select
                  rules: []
                - type: check
                  preventNavigation: false
                  sequence: 4
                  identifier: sdf
                  action: check
                  rules: []
                - type: uncheck
                  preventNavigation: false
                  sequence: 5
                  identifier: grh
                  action: uncheck
                  rules: []
                - type: execute
                  preventNavigation: false
                  sequence: 6
                  js: sdfgsfhnhtbt
                  action: execute
                  rules: []
                - type: watch
                  preventNavigation: false
                  sequence: 7
                  seconds: 12
                  action: watch
                  rules: []
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  '/audits/{param1}/actions':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_audits-param1-actions
      tags:
        - Audits
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
    put:
      operationId: PUT_audits-param1-actions
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: array
            items:
              type: object
              properties: {}
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
  '/audits/{param1}/tag-summaries':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_audits-param1-tag-summaries
      tags:
        - Audits
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
  /audits/default-filters:
    post:
      operationId: POST_audits-default-filters
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: array
            items:
              type: string
            example:
              - 'http://stoplight.io'
              - 'http://stoplight.io/cart'
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  include:
                    type: array
                    items:
                      type: string
                  exclude:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
  '/audits/{param1}/rule-sets':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    put:
      operationId: PUT_audits-param1-rule-sets
      tags:
        - Audits
      parameters:
        - name: body
          in: body
          schema:
            type: array
            items:
              type: integer
            example:
              - 13
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    updatedAt:
                      type: string
                    recipients:
                      type: array
                      items:
                        type: object
                        properties: {}
                    accountId:
                      type: integer
                    id:
                      type: integer
                    createdAt:
                      type: string
                    rules:
                      $ref: '#/definitions/null'
          examples:
            application/json: true
  '/audits/{param1}/reports/summary/run/{param2}':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: string
      - name: param2
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_audit-param1-reports-summary-run-param2
      tags:
        - Audits
      produces:
        - text/html
      responses:
        '200':
          description: ''
          schema:
            type: object
          examples:
            text/html: '<!DOCTYPE html><html id="ng-app" ng-app="appWrapper"><head lang="en"><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=9;FF=3;OtherUA=4"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="description" content="moonbeam"><title page-title></title><base href="/"><link rel="icon" href="public/images/op-logo.png" type="image/png"><link rel="stylesheet" href="public/css/lib.css"><link rel="stylesheet" href="public/css/app.css"><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700"><script src="public/js/lib.js" type="text/javascript"></script><script src="public/js/app.js" type="text/javascript"></script><script src="//assets.adobedtm.com/f65064a28f9fb640d4c6ce70f65c1160240a8224/satelliteLib-a7e91181bb534462c98ecaa1e72dbb2329ea76b3.js"></script></head><body><div ui-view></div><script type="text/javascript">_satellite.pageBottom();</script></body></html>'
  /domains:
    get:
      operationId: GET_domains
      tags:
        - Domains
      parameters:
        - name: withTotals
          in: query
          required: false
          type: boolean
        - name: folderId
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    guidedJourneys:
                      type: integer
                    domain:
                      type: string
                    pages:
                      type: integer
                    folderId:
                      type: integer
                    errors:
                      type: integer
                    id:
                      type: integer
                    automatedJourneys:
                      type: integer
                    auditsRunning:
                      type: integer
                    averageScore:
                      type: integer
                    createdAt:
                      type: string
                    userId:
                      type: integer
                    dataLayer:
                      type: string
                    simulationsRunning:
                      type: integer
          examples:
            application/json: true
    post:
      operationId: POST_domains
      tags:
        - Domains
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              folderId:
                type: integer
              name:
                type: string
              domain:
                type: string
              dataLayer:
                type: string
            example:
              folderId: 531
              name: testingstoplightdomain
              domain: 'http://stoplight.io'
              dataLayer: datalayrrrrr
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  name:
                    type: string
                  domain:
                    type: string
                  folderId:
                    type: integer
                  id:
                    type: integer
                  createdAt:
                    type: string
                  userId:
                    type: integer
                  dataLayer:
                    type: string
          examples:
            application/json: true
  /domains/count:
    get:
      operationId: GET_domains-count
      tags:
        - Domains
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  count:
                    type: integer
          examples:
            application/json: true
  '/domains/{param1}':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_domains-param1
      tags:
        - Domains
      parameters:
        - name: withTotals
          in: query
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  name:
                    type: string
                  domain:
                    type: string
                  folderId:
                    type: integer
                  id:
                    type: integer
                  createdAt:
                    type: string
                  userId:
                    type: integer
                  dataLayer:
                    type: string
          examples:
            application/json: true
    put:
      operationId: PUT_domains-param1
      tags:
        - Domains
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
              guidedJourneys:
                type: integer
              domain:
                type: string
              pages:
                type: integer
              folderId:
                type: integer
              errors:
                type: integer
              id:
                type: integer
              automatedJourneys:
                type: integer
              auditsRunning:
                type: integer
              averageScore:
                type: integer
              createdAt:
                type: string
              userId:
                type: integer
              dataLayer:
                type: string
              simulationsRunning:
                type: integer
              hover:
                type: boolean
              hoverMenu:
                type: boolean
            example:
              name: testingstoplightdomain1
              guidedJourneys: 0
              domain: 'http://stoplight.io'
              pages: 0
              folderId: 531
              errors: 0
              id: 280
              automatedJourneys: 0
              auditsRunning: 0
              averageScore: 0
              createdAt: '2016-11-17T23:36:30.000-07:00'
              userId: 26
              dataLayer: datalayrrrrr
              simulationsRunning: 0
              hover: false
              hoverMenu: false
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  name:
                    type: string
                  domain:
                    type: string
                  folderId:
                    type: integer
                  id:
                    type: integer
                  createdAt:
                    type: string
                  userId:
                    type: integer
                  dataLayer:
                    type: string
          examples:
            application/json: true
    delete:
      operationId: DELETE_domains-param1
      tags:
        - Domains
      responses:
        '204':
          description: ''
          schema:
            type: object
  '/domains/{param1}/web-audits':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_domains-param1-automated
      tags:
        - Domains
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
  '/domains/{param1}/web-journeys':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_domains-param1-guided
      tags:
        - Domains
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
  /events:
    get:
      operationId: GET_events
      tags:
        - Events
      parameters:
        - name: Connect-Time
          in: header
          required: false
          type: integer
        - name: Total-Route-Time
          in: header
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties: {}
          examples:
            application/json: true
  /folders:
    get:
      operationId: GET_folders
      tags:
        - Folders
      parameters:
        - name: Connect-Time
          in: header
          required: false
          type: integer
        - name: Total-Route-Time
          in: header
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    appsRunning:
                      type: integer
                    appsInQueue:
                      type: integer
                    name:
                      type: string
                    appRuleFailures:
                      type: integer
                    createdByUserName:
                      type: string
                    appsCount:
                      type: integer
                    accountId:
                      type: integer
                    createdByUserId:
                      type: integer
                    id:
                      type: integer
                    auditsRunning:
                      type: integer
                    createdAt:
                      type: string
                    appFailures:
                      type: integer
                    simulationErrors:
                      type: integer
                    simulationsRunning:
                      type: integer
                    domainsCount:
                      type: integer
          examples:
            application/json: true
    post:
      operationId: POST_folders
      tags:
        - Folders
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              accountId:
                type: integer
              name:
                type: string
            example:
              accountId: 19
              name: testingstoplight
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  appsRunning:
                    type: integer
                  appsInQueue:
                    type: integer
                  name:
                    type: string
                  appRuleFailures:
                    type: integer
                  createdByUserName:
                    type: string
                  appsCount:
                    type: integer
                  accountId:
                    type: integer
                  createdByUserId:
                    type: integer
                  id:
                    type: integer
                  auditsRunning:
                    type: integer
                  createdAt:
                    type: string
                  appFailures:
                    type: integer
                  simulationErrors:
                    type: integer
                  simulationsRunning:
                    type: integer
                  domainsCount:
                    type: integer
          examples:
            application/json: true
  /folders/count:
    get:
      operationId: GET_folders-count
      tags:
        - Folders
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  count:
                    type: integer
          examples:
            application/json: true
  '/folders/{param1}':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_folders-param1
      tags:
        - Folders
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  appsRunning:
                    type: integer
                  appsInQueue:
                    type: integer
                  name:
                    type: string
                  appRuleFailures:
                    type: integer
                  createdByUserName:
                    type: string
                  appsCount:
                    type: integer
                  accountId:
                    type: integer
                  createdByUserId:
                    type: integer
                  id:
                    type: integer
                  auditsRunning:
                    type: integer
                  createdAt:
                    type: string
                  appFailures:
                    type: integer
                  simulationErrors:
                    type: integer
                  simulationsRunning:
                    type: integer
                  domainsCount:
                    type: integer
          examples:
            application/json: true
    put:
      operationId: PUT_folders-param1
      tags:
        - Folders
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                type: integer
              accountId:
                type: integer
              name:
                type: string
              domainsCount:
                type: integer
              appsCount:
                type: integer
            example:
              id: 531
              accountId: 19
              name: testingstoplight1
              domainsCount: 0
              appsCount: 0
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  appsRunning:
                    type: integer
                  appsInQueue:
                    type: integer
                  name:
                    type: string
                  appRuleFailures:
                    type: integer
                  createdByUserName:
                    type: string
                  appsCount:
                    type: integer
                  accountId:
                    type: integer
                  createdByUserId:
                    type: integer
                  id:
                    type: integer
                  auditsRunning:
                    type: integer
                  createdAt:
                    type: string
                  appFailures:
                    type: integer
                  simulationErrors:
                    type: integer
                  simulationsRunning:
                    type: integer
                  domainsCount:
                    type: integer
          examples:
            application/json: true
    delete:
      operationId: DELETE_folders-param1
      tags:
        - Folders
      responses:
        '204':
          description: ''
          schema:
            type: object
  '/folders/{param1}/users':
    parameters:
      - name: param1
        in: path
        description: ''
        required: true
        type: integer
    get:
      operationId: GET_folders-param1-users
      tags:
        - Folders
      parameters:
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    lastLogin:
                      $ref: '#/definitions/null'
                    email:
                      type: string
                    username:
                      type: string
                    timezone:
                      type: string
                    permissions:
                      type: string
                    accountId:
                      type: integer
                    lastName:
                      type: string
                    firstName:
                      type: string
                    id:
                      type: integer
                    updated:
                      type: string
                    created:
                      type: string
          examples:
            application/json: true
    post:
      operationId: POST_folders-param1-users
      tags:
        - Folders
      parameters:
        - name: body
          in: body
          schema:
            type: array
            items:
              type: integer
            example:
              - 72
        - name: Content-Type
          in: header
          required: false
          type: string
        - name: Authorization
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: array
                items:
                  type: object
                  properties:
                    lastLogin:
                      $ref: '#/definitions/null'
                    email:
                      type: string
                    username:
                      type: string
                    timezone:
                      type: string
                    permissions:
                      type: string
                    accountId:
                      type: integer
                    lastName:
                      type: string
                    firstName:
                      type: string
                    id:
                      type: integer
                    updated:
                      type: string
                    created:
                      type: string
          examples:
            application/json: true
  /web-audits/report/compliance/business:
    get:
      operationId: GET_report-compliance-business
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  overviews:
                    type: array
                    items:
                      type: object
                      properties:
                        runId:
                          type: integer
                        pagesFailing:
                          type: integer
                        ruleSetFailing:
                          type: integer
                        compliance:
                          $ref: '#/definitions/null'
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/summary/audit:
    get:
      operationId: GET_report-summary-audit
      tags:
        - Report
      parameters:
        - name: audit_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        $ref: '#/definitions/null'
                      auditId:
                        type: integer
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties: {}
                      auditId:
                        type: integer
                      dateRange:
                        $ref: '#/definitions/null'
                  scores:
                    $ref: '#/definitions/null'
                  summaries:
                    $ref: '#/definitions/null'
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/page/load-time:
    get:
      operationId: GET_report-page-load-time
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: account
          in: query
          required: false
          type: integer
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/summary/variable:
    get:
      operationId: GET_report-summary-variable
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  variableSummaries:
                    type: array
                    items:
                      type: object
                      properties:
                        runId:
                          type: integer
                        summaries:
                          type: array
                          items:
                            type: object
                            properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/missing:
    get:
      operationId: GET_report-tag-missing
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  totalPages:
                    type: integer
                  runTags:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/duplicate-requests:
    get:
      operationId: GET_report-tag-duplicate-requests
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  totalPages:
                    type: integer
                  runTags:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/status-codes:
    get:
      operationId: GET_report-tag-status-codes
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  totalPages:
                    type: integer
                  runTags:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/compliance/vendor:
    get:
      operationId: GET_report-compliance-vendor
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  overviews:
                    type: array
                    items:
                      type: object
                      properties:
                        runId:
                          type: integer
                        tagsFailing:
                          type: integer
                        tagsCompliant:
                          type: integer
                        compliance:
                          $ref: '#/definitions/null'
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/page/javascript-errors:
    get:
      operationId: GET_report-page-javascript-errors
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: account
          in: query
          required: false
          type: integer
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/summary/tags:
    get:
      operationId: GET_report-summary-tags
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  tagSummaries:
                    type: array
                    items:
                      type: object
                      properties:
                        runId:
                          type: integer
                        tagSummaries:
                          $ref: '#/definitions/null'
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/versions/page-overview:
    post:
      operationId: POST_report-tag-versions-page-overview
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: account
          in: query
          required: false
          type: integer
        - name: body
          in: body
          schema:
            type: object
            properties:
              identifiers:
                type: array
                items:
                  type: object
                  properties: {}
            example:
              identifiers: []
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/multiple-requests/page-overview:
    post:
      operationId: POST_report-tag-multiple-requests-page-overview
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: account
          in: query
          required: false
          type: integer
        - name: body
          in: body
          schema:
            type: object
            properties:
              identifiers:
                type: array
                items:
                  type: object
                  properties: {}
            example:
              identifiers: []
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/presence/page-overview:
    post:
      operationId: POST_report-tag-presence-page-overview
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: account
          in: query
          required: false
          type: integer
        - name: body
          in: body
          schema:
            type: object
            properties:
              identifiers:
                type: array
                items:
                  type: object
                  properties: {}
            example:
              identifiers: []
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/mobile-journey/export:
    post:
      operationId: POST_report-mobile-journey-export
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: Authorization
          in: header
          required: false
          type: string
        - name: Content-Type
          in: header
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                      filename:
                        type: string
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  fileInfo:
                    type: object
                    properties:
                      file:
                        type: string
                      metadata:
                        type: string
          examples:
            application/json: true
  /report/tag/versions:
    get:
      operationId: GET_report-tag-versions
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  totalPages:
                    type: integer
                  runTags:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/multiple-requests:
    get:
      operationId: GET_report-tag-multiple-requests
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  totalPages:
                    type: integer
                  runTags:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/tag/presence:
    get:
      operationId: GET_report-tag-presence
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: audit_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              data:
                type: object
                properties:
                  request:
                    type: object
                    properties:
                      runIds:
                        type: array
                        items:
                          type: integer
                      auditId:
                        $ref: '#/definitions/null'
                      dateRange:
                        $ref: '#/definitions/null'
                  producedSelection:
                    type: object
                    properties:
                      runs:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            completed:
                              type: string
                  totalPages:
                    type: integer
                  runTags:
                    type: array
                    items:
                      type: object
                      properties: {}
          examples:
            application/json: true
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/page/status-codes:
    get:
      operationId: GET_report-page-status-codes
      tags:
        - Report
      parameters:
        - name: run_id
          in: query
          required: false
          type: integer
        - name: account
          in: query
          required: false
          type: integer
      responses:
        '500':
          description: ''
          schema:
            type: object
            properties:
              success:
                type: boolean
              error:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
          examples:
            application/json: false
  /report/summary/scoring:
    get:
      operationId: GET_report-summary-scoring
      tags:
        - Report
      parameters:
        - name: audit_id
          in: query
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
[...]
